# Ce workflow est un template réutilisable pour construire les images Docker
# Il est conçu pour être appelé par d'autres workflows pour qu'on respecte tous la convention de nommage définie

name: Image builder

on:
  workflow_call:
    inputs:
      image-name:
        description: Image name
        required: false
        default: ${{ github.repository }}
        type: string
      context:
        description: Context path
        required: false
        default: .
        type: string
    
      
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ inputs.image-name }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login in the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=raw,value=latest,enable={{is_default_branch}}
            type=sha

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.context }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max